.navbar{
    background-color: #FFFFFF;
    margin:0%;
    padding: 0%;
    border: 1px solid rgb(0, 0, 0);
}

.title1{
    font-family: 'sans-serif';
}

.logo{
    height: 90px;
    width: 90px;
}
#background-img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 70px;
    z-index: -5;
  }
html{
    overflow: scroll;
}
#gen_ex_sequence{
    margin-top: 40%;
    margin-left: 82%;
    background-color: rgb(125, 173, 193);
}
#upload_form, #delete_form{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 50%;
}