{% extends "SAapp/base.html" %}
{% block body %}
{% if exercise_list %}
    <ul class="mt-5">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Übungsname</th>
            <th scope="col">Beschreibung</th>
            <th scope="col">Erstellungsdatum</th>
            <th scope="col">Anschauen</th>
            <th scope="col">Bearbeiten</th>
            <th scope="col">Löschen</th>
          </tr>
        </thead>
        <tbody>
        {% for exercise in exercise_list %}
          <tr>
            <td>{{ exercise.id }}</td>
            <td><a href="/watch/{{ exercise.title }}.mp4">{{ exercise.title }}</a></td>
            <td>{{ exercise.description }}</td>
            <td>{{ exercise.creation_date }}</td>
            <td class="align-items-center">
                <button class="btn btn-secondary" onclick="window.location.href='/edit_exercise/?exercise_id={{exercise.id}}'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                      <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg>
                </button>
            </td>
            <td>
                <button class="btn btn-danger" onclick="clicked(event,  {{ exercise.id }})">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2  0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </button>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </ul>
{% else %}
    <p>Keine Übungen verfügbar.</p>
{% endif %}
<script>
  function clicked(e, exercise_id)
  {
      if(!confirm('Sind Sie sich sicher, dass Sie diese Übung löschen wollen?')) {
          e.preventDefault();
      }
      else{
        window.location.href='/delete_exercise/?exercise_id='+exercise_id;
      }
  }
  </script>  
{% endblock %}
