{% extends "SAapp/base.html" %}
{% load static %}

{% block body %}
  <form method="post" id="upload_form" class="dropzone" enctype="multipart/form-data">
    {% csrf_token %}
    <h3>Email</h3>
    <input type="text" name="email" class="form-control" placeholder="max.musterman@bulme.at" aria-label="title" aria-describedby="addon-wrapping">
    <br>
    <h3>Passwort</h3>  
    <input type="Password" name="Password" class="form-control" placeholder="1234" aria-label="description" aria-describedby="addon-wrapping">
    <button type="submit" class="btn btn-dark mt-5">Anmelden</button>
    <a type="button" href="/signup/" class="btn btn-dark mt-5">Registrieren</button>
  </form>
  
{% endblock %}