{% extends "SAapp/base.html" %}
{% load static %}

{% block body %}
  <form method="post" id="upload_form" class="dropzone" enctype="multipart/form-data">
    {% csrf_token %}
    <h3>Datei</h3>
    <div class="input-group mb-3 ml-5 mr-5">
      <input type="file" class="form-control" id="inputGroupFile01" name="myfile">
    </div>
    <br>
    <h3>Titel</h3>
    <input type="text" name="title" id="upload_exercise_title" class="form-control" value="{{ title }}"placeholder="Example title" aria-label="title" aria-describedby="addon-wrapping" required>
    {% if title_error %}
      <div class="error" style="color: red;">Der Name existiert bereits. Bitte wählen Sie einen anderen.</div>
    {% endif %}
    <br>
    <h3>Beschreibung</h3>  
    <input type="text" name="description" class="form-control" value="{{ description }}"placeholder="Example description" aria-label="description" aria-describedby="addon-wrapping">
    <button type="submit" class="btn btn-dark mt-5" id="upload_btn">Hochladen</button>
  </form>

  {% if uploaded_file_url %}
    <p id="upload_form"> Datei wurde erfolgreich hochgeladen!</p>
  {% endif %}
{% endblock %}