{% extends "SAapp/base.html" %}
{% load static %}

{% block body %}
<div class="container">
  <form method="post" id="login_form" class="row g-3" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label">Benutzername</label>
      <input type="text" name="username" class="form-control" id="username" placeholder="max.musterman" aria-describedby="usernameHelp" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Passwort</label>
      <input type="password" name="password" class="form-control" id="password" placeholder="Secret Password" aria-describedby="passwordHelp" required>
    </div>
    <button type="submit" class="btn btn-dark mt-3">Anmelden</button>
    <a href="{% url 'signup' %}" class="btn btn-secondary mt-3">Registrieren</a>
  </form>
</div>
{% endblock %}
